<div class="container">
	<h3>Profile Details</h3>
	<p> Full Name: <%= @profile.fullName%> </p>
	<p> Date Of Birth: <%= @profile.dob%> </p>
	<p> Address: <%= @profile.address%> </p>
	<p> City: <%= @profile.city%> </p>
	<p> Country: <%= @profile.country%> </p>
	<p> Profile Picture: <%= @profile.profilePicture%> </p>
</div>
