<div class="container">
	<h2>Products</h2>
	<%= form_tag search_products_path, method: :get do%>
		<%= text_field_tag :term, nil, placeholder: "Search", class:"form-control"%>
		<%= submit_tag "Search", class:"btn btn-default"%>
	<%end%>
	<%= link_to 'Add New Product', products_new_path %>
	<table border="1" class="table products-table">
		<tr>
			<th> Product Name </th>
			<th> Brand</th>
			<th> Average Price </th>
			<th> Category </th>
			<th> Release Date </th>
			<th> Description </th>
			<th> Image </th>
			<th> Actions </th>

		</tr>
		<% @products.each do |product| %>
			<tr>
				<td> <%= product.name %> </td>
				<td> <%= product.brand %> </td>
				<td> <%= product.averageCost %> </td>
				<td> <%= product.category %> </td>
				<td> <%= product.releaseDate %> </td>
				<td> <%= product.description %> </td>
				<td> <%= image_tag(product.productImage.url, alt: 'Image') if product.productImage? %> </td>
				<td> 
					<%= link_to 'View Product', product_path(product) %> | 
					<%= link_to 'View Reviews', reviews_index_path(:productId => product.id) %> | 
					<%= link_to 'Write Review', reviews_new_path(:id => product.id) %> 
				</td>
			</tr>
		<% end %>
	</table>
</div>