<div class="container">
	<h1 class="jumbotron-heading">Edit Your Review</h1>

	<%= form_for @review do |f| %>
		<div class="form-group">
			<%= f.label :rating %>
			<%= f.select :rating, [[1,1], [2,2], [3,3], [4,4], [5,5]], class:'form-control'%>
			<%= f.label :reviewText %>
			<%= f.text_area :reviewText , class:'form-control'%>
			<%= f.submit %>
		</div>
	<% end %>

</div>