<div class="container">
	<h2>Reviews For <%= Product.where(id: params['productId']).pluck(:name).first %></h2>
	<table border="1" class="table reviews-table">
		<tr>
			<th> Rating </th>
			<th> Review Text</th>
			<th> Date Posted </th>
			<th> Author </th>
			<th> Profile Picture </th>
			<th> Actions</th>
		</tr>
		<% @reviews.each do |review| %>
			<tr>
				<td> <%= review.rating %> </td>
				<td> <%= review.reviewText %> </td>
				<td> <%= review.datePosted %> </td>
				<td> <%= review.author %> </td>
				<td> <img src="/uploads/profile/profilePicture/<%=review.profileId%>/<%=Profile.where(id: review.profileId).pluck(:profilePicture).first%>">
				<td> 
					<%= link_to 'View Review', review_path(review) %> | 
					<%= link_to 'Edit', edit_review_path(review) %> | 
					<%= link_to 'Delete', review_path(review), method: :Delete, data: {confirm: "Are you sure you want to delete this review"}%> 
				</td>
			</tr>
		<% end %>
	</table>
</div>