<!DOCTYPE html>
<html>
  <head>
    <title>ReviewApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

      <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">

        <h5 class="my-0 mr-md-auto font-weight-normal"> Electronic Review App </h5>

        <nav class="my-2 my-md-0 mr-md-3">
          <%= link_to "Home", root_path %>
          <%= link_to "About Us", static_pages_about_path %>
          <%= link_to "Contact Us", static_pages_contact_path %>
          <%= link_to "Products", products_index_path %>
          <%= link_to "Login", '#' %>
          <%= link_to "Register", profiles_new_path %>
          <%= link_to "My Profile", '#' %>
       </nav>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
